# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo

# SQLite
*.sqlite3
db.sqlite3 # If you name your db file this way

# Instance folder (if sensitive config is stored here, though better to use env vars for secrets)
instance/
# If you plan to store your SQLite database inside instance/, uncomment the next line:
# !instance/your_database_name.db

# VS Code
.vscode/
*.code-workspace

# OS-specific
.DS_Store
Thumbs.db